    <footer>
        <span><a href="https://twitter.com/superissarah">twitter</a> |</span>
        <span><a href="https://www.instagram.com/sjc.creative/">instagram</a> |</span>
        <span><a href="https://github.com/sajoy">github</a> |</span>
        <span><a href="mailto:sajoy.pc@gmail.com">email</a> |</span>
        <span>made w/ &hearts; & <a href='https://hexo.io' target='_blank' class='dotted'>hexo</a> |</span>
        <span>&copy;2019 sarah joy calpo</span>
    </footer>
</body>
</html>