<!DOCTYPE html>
    <head>
        <title><%= config.title %></title>
        <meta name="viewport" content="initial-scale=1">

        <link href='/style.css' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    </head>
    <body>